.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.btn {
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.btn-primary {
    background: var(--primary);
    color: var(--secondary);
}

.btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.leftSection img {
    background: transparent;
    border-radius: 100%;
    transition: 3s;
}

.leftSection img:hover {
    background: #382f7c;
    opacity: .8;
}

.leftSection img::after {
    content: '';
    position: absolute;
    background: #010a11;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

#element {
    color: rgb(85, 255, 255);
    font-size: 1.3rem;

}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #010a11;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: rgb(85, 255, 255);
    border: 2px solid rgb(85, 255, 255);
    border-radius: 8px;
    display: inline-flex;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.btn-box a:hover {
    color: rgb(85, 255, 255);
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: rgb(85, 255, 255);
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: rgb(85, 255, 255);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.6rem;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.vertical {
    padding: 100px;

}

.image-top {
    width: 100px;
    position: relative;
    top: -200px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: -200px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: -200px;
    color: grey;
    width: 200px;
    font-size: 13px;
}

.heading {
    text-align: center;
    align-items: center;
}